@{
    ViewData["Title"] = "Добавление документа";
}

<h1>@ViewData["Title"]</h1>
<form Controller="Home" asp-action="AddSecureDocument" method="post" enctype="multipart/form-data">
    <div>@ViewData["Message"]</div>
    <label for="selectFile">Выберите файл</label>
    <input name="selectedFile" type="file"/>
    <button type="submit">Загрузить</button>
</form>



