@{
    ViewData["Title"] = "Открытая часть";
}
@using System.Text.Json
@model List<string>;
<script>
     filesList = @Html.Raw(@JsonSerializer.Serialize(@Model.ToArray()));
    
     function mapDocument(files) {
         $("#list").empty();
         files.forEach(function(i){
                          $('<div>' + i + '<a href="/Home/GetSecuredDocument?fileName=' + i + '" > Скачать</a></div>').appendTo("#list")
                      })
     }
     
     function searchDocument() {
         let value = $("#searchInput").val();
         if (value === "" ) {
            mapDocument(filesList);
         } else {
            let newFiles = filesList.filter(x => x.includes(value));
            mapDocument(newFiles);
         }
         
         
     }
     
     $(x => {mapDocument(filesList)});
    
</script>
<h1>@ViewData["Title"]</h1>
<div>
    <input id="searchInput" type="text"><button id="searchButton" onclick="searchDocument(event)">Найти</button>
</div>

<div id="list"></div>
