<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - frep</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Федеральная служба безопасности</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="http://suai3545.000webhostapp.com">Объединенный правовой ресурс</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Закрытая часть</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div>   Федера́льная слу́жба безопа́сности Росси́йской Федера́ции (ФСБ России) — федеральный орган исполнительной власти Российской Федерации, спецслужба, осуществляющая в пределах своих полномочий решение задач по обеспечению безопасности Российской Федерации</div>
            <div>
                
            </div>     
            <div> Наделена правом ведения предварительного следствия и дознания, оперативно-разыскной и разведывательной деятельности. В ФСБ России предусмотрена военная, правоохранительная и федеральная гражданская государственная служба. Относится к государственным военизированным организациям, которые имеют право приобретать боевое, ручное, стрелковое и иное оружие.</div>
            <div>ФСБ является крупнейшим регуляторм Российской Федерации в области обеспечения информационной безопасности</div>
            <div>Также Федеральная служба безопасности является создателем многих нормативно-правовых документов по Информационной безопасности</div>
            <img src="https://cdn22.img.ria.ru/images/149267/18/1492671807_0:0:3016:1698_600x0_80_0_0_bb47031afa03f980e6c2e5ec2798db01.jpg" alt="Директор ФСБ Бортников А.В." class="img-thumbnail">
            
            <div>Директор ФСБ Бортников Александр Васильевич</div>
            <img src="https://studme.org/imag/pravo/er_sprorf/image004.jpg" alt="Организационная структура ФСБ" class="img-thumbnail">
            <div>Организационная структура ФСБ</div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - ГУАП
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
